## VS Code local history
.history/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bbin/
bin/
obj/

## Tooling & IDE
.vscode/
.idea/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
